# Your openai api key
OPENAI_API_KEY=sk-xxxxxxxxx

# Prompt of analyze of MJ_Prompt, for debug or testing
ANALYTICS_PROMPT=''

TOTAL_TIMES_PER_DAY=100

# Network proxy
https_proxy="http://127.0.0.1:7890"

# Tencent cloud (for translation)
TENCENT_SECRET_ID=''
TENCENT_SECRET_KEY=''
TENCENT_REGION=''
TENCENT_PROJECT_ID=''

# Vercel Database
POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_URL_NO_SSL=""
POSTGRES_USER=""